@font-face {
  font-family: roboto;
  src: url(roboto.ttf);
}

@font-face {
  font-family: roboto-light-italic;
  src: url(roboto-light-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* Header Section */

.header,
.hero-main-section {
  background-color: #1f2937;
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

.hero-main-section {
  padding-bottom: 150px;
}

.left-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-content {
  width: 600px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.h-link,
.img-placeholder,
.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.signup-button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  width: 130px;
  height: 35px;
}

.img-placeholder {
  background-color: #88898d;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

/* Info Section */

.info-main-text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text {
  width: 150px;
  text-align: center;
  margin-top: 5px;
}

.info-img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

/* Inspiring Quote */

.inspiring-quote-section {
  background-color: #e5e7eb;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
}

.align-quote-author {
  width: 1300px;
  display: flex;
  flex-direction: column;
}

.inspiring-quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  font-family: robot-light-italic;
}

.inspiring-quote-author {
  align-self: flex-end;
  margin: 5px 25px;
}

/* Call to action */

.call-to-action-section {
  padding: 200px;
}

.call-to-action-main {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  border-radius: 10px;
  color: #f9faf8;
}

.call-to-action-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bold;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  padding: 0 40px;
}

/* Footer */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
